
<?php
    $productId = $block->getSaleableItem()->getId();
    $productSku = $block->getSaleableItem()->getSku();
?>


<div class="price-info-<?php echo $productId ?>">
    <button class="secondary submit primary">Get Price</button>
    <div id="popup-modal-<?php echo $productSku ?>" class="block-customer-request" style="display: none">

        <div class="customer-form">
            <p class="subtitle">Make request get product Price <strong><?php echo $block->getSaleableItem()->getName() ?></strong></p>
            <form class="form form-request"
                  action="<?php echo $block->getUrl('requestprice/ajax/index', ['_secure' => true]) ?>"
                  method="post"
                  id="customer-popup-check-customer-form-<?php echo $productSku ?>"
                  data-mage-init='{"validation":{}}'>

                <label for="name">Name</label>
                <input name="name" id="customer-name-<?php echo $productSku ?>" type="text" placeholder="Name">

                <label for="email">E-mail</label>
                <input name="email" id="customer-email-<?php echo $productSku ?>" type="email" placeholder="Email Address">

                <input name="product_sku" id="product_sku-<?php echo $productSku ?>" type="hidden" value="<?php echo $productSku ?>">

                <label for="comment">Comment</label>
                <input name="comment" id="customer-comment-<?php echo $productSku ?>" type="text" placeholder="Comment">

                <div class="error-request"></div>

                <br>
                <button type="submit" class="action secondary submit primary" name="send" id="send-customer-request-<?php echo $productId ?>">
                    <span>Get Product Price</span>
                </button>

            </form>
        </div>
    </div>

    <script type="text/javascript">
        require([
            'jquery'
        ], function($) {
            'use strict';
            let form = $('#customer-popup-check-customer-form-<?php echo $productSku ?>');
            form.submit(event => {
                event.preventDefault();
                let name = $.trim($("#customer-name-<?php echo $productSku ?>").val());
                let email = $.trim($("#customer-email-<?php echo $productSku ?>").val());
                let productSku = $.trim($("#product_sku-<?php echo $productSku ?>").val());
                let comment = $.trim($("#customer-comment-<?php echo $productSku ?>").val());

                let testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;

                if (testEmail.test(email) === false) {
                    $(".error-request").text("Incorrect e-mail address!!!").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 5000, function() {
                        $(".error-request").text("");
                    });
                    return false;
                }
                if ($.trim(name).length === 0) {
                    $(".error-request").text("Incorrect Name!!!").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 5000, function() {
                        $(".error-request").text("");
                    });
                    return false;
                }
                if ($.trim(productSku).length === 0) {
                    $(".error-request").text("Incorrect Product Sku!!!").animate({
                        width: "auto",
                        color: 'red',
                        "font-weight": "bold"
                    }, 5000, function() {
                        $(".error-request").text("");
                    });
                    return false;
                }


                $.ajax({
                    showLoader: true,
                    url: "<?php echo $block->getUrl('requestprice/ajax/index', ['_secure' => true]) ?>",
                    data: {
                        "email": email,
                        'name': name,
                        'product_sku': productSku,
                        'comment': comment
                    },
                    type: "POST",
                    success: function(data) {
                        if (data.errors === false) {
                            form.text('');
                            form.html("<p>Thank for ou request. Support service will be contact with you!</p>");
                        } else {
                            form.text('');
                            form.html("<p>Try again later!</p>");
                        }
                    },
                    error: function (request, status, error) {
                        alert("ERROR");
                    }
                });
            });

        });
    </script>

    <script type="text/javascript">
        require([
            'jquery',
            'Magento_Ui/js/modal/modal'
        ], function($, modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: false,
                clickableOverlay: true,
                modalClass: 'custom-modal',
                buttons: [],
                closed: function() {
                },
                keyEventHandlers: {
                    tabKey: function () {
                        this._setFocus('start');
                    },
                    enterKey: function () {
                    },
                    escapeKey: function () {
                        return false;
                    }
                }
            };

            $('.price-info-<?php echo $productId ?>').on("click", function (event) {
                $("#popup-modal-<?php echo $productSku ?>").show();
                var popup = modal(options, $("#popup-modal-<?php echo $productSku ?>"));
                $("#popup-modal-<?php echo $productSku ?>").modal('openModal');
                $('.modal-inner-wrap').css({
                    "width": '400px'
                });
            });
        });
    </script>
</div>
